<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog</h1>
  <p class="lead">Bem-vindo ao nosso site de tecnologia, onde você pode se manter atualizado com as últimas notícias e tendências do mundo da tecnologia.</p>
  <hr class="my-4">
  <p>Temos uma equipe dedicada de especialistas em tecnologia que trazem as análises mais precisas e imparciais sobre os dispositivos, softwares e serviços mais populares do mercado. Explore nosso site e descubra como a tecnologia pode facilitar e melhorar sua vida diária.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  </p>
</div>

<hr>

<h2>Postagens recentes</h2>


{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <br>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de Publicação: {{data}}</small>
        <hr>
    </div>
</div>
{{else}}

{{/each}}